<style>
  .zoom {;
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>

<body class="overflow-groovy">
<br>
<div class="col bg-light">
  <app-nav-bar></app-nav-bar>
</div>

<br>

<div class="container bg-danger p-2 rounded-3 mt-4">
  <div class="bg-danger py-4 ps-5 pe-0 rounded-3 row row-cols-xl-3 col-10 offset-1">
    <div *ngFor="let ability of abilities" class="d-flex">
      <div class="col-2 rounded-3 border border-dark text-center bg-white my-2 mx-3 ms-0 p-3 zoom flex-fill">
        <span class="fs-6"><i><b> {{ability.name}}</b></i></span>
        <br>
        <span class="fs-6"> {{ability.description}}</span>
      </div>
    </div>
  </div>
</div>
</body>
