<style>
  .zoom {;
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>

<body>
<br>
<div class="col bg-light">
  <app-nav-bar></app-nav-bar>
</div>
<br/>

<article class="container">
  <section class="row bg-danger p-2 rounded-3 my-4">
      <select [(ngModel)]="t1" (change)="capturar()" class="col-5 fs-5 rounded-3 p-2 combi">
        <option [value]="1">Type 1</option>
        <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
      </select>
      <select [(ngModel)]="t2" (change)="capturar()" class="col-5 offset-1 fs-5 rounded-3 p-2 combi">
        <option [value]="2">Type 2</option>
        <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
      </select>
  </section>
  <section class="row bg-danger p-2 rounded-3 mt-4">
    <div class="py-4 justify-content-center rounded-3 row row-cols-xl-6">
      <div *ngFor="let type of typeList; let i = index" class="d-flex">
        <div class="col-2 rounded-3 border border-dark text-center bg-white mb-4 mx-3 ms-0 p-3 zoom flex-fill">
          <span class="fs-6"><b> {{type}}</b>: <i>x{{damagesRes[i]}}</i></span>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-3 p-2 fs-5">
      <p>You only need to know three rules to use this calculator:</p>
      <ul>
        <li>You have to select at least one type, from the left button</li>
        <li>You can´t select the same type twice</li>
        <li>Try to find the best combination!</li>
      </ul>
    </div>
  </section>
</article>
</body>
