<style>
  .imagen-pokeball {
    width: 3vw !important;
    height: 3vh !important;
    object-fit: contain !important;
    filter: invert(1) !important;
  }
</style>

<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
  <ngb-panel type="dark" id="static-{{pokemon.number}}" *ngFor="let pokemon of pokedex">
    <ng-template ngbPanelHeader>
      <img class="img-fluid" src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.name.toLowerCase().replace(' ', '-').replace('.', '').replace('\'', '').replace(':', '').replace('é', 'e').replace('é', 'e')}}.png">
      <span class="fs-6 mx-3">Nº {{pokemon.number}} {{pokemon.name}}</span>
      <button ngbPanelToggle class="btn btn-error" (click)="changeNames(pokemon.name)">
        <img class="imagen-pokeball" src="assets/icon.png">
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="bg-danger rounded-3 p-4">
        <div class="rounded-3 text-black fs-6 bg-white p-2">
          <b>Classification: </b> {{pokemon.species}}
          <br>
          <b>Type (s): </b> {{pokemon.type1}} // {{pokemon.type2}}
          <br>
          <b>Weight: </b>
          {{pokemon.weight}} kg
          <br>
          <b>Height: </b>
          {{pokemon.height}} m
        </div>
        <br>
        <div class="rounded-3 text-black fs-6 bg-white p-2">
          <b>Abilities: </b>
          {{pokemon.possibleAbilities[0]}},
          {{pokemon.possibleAbilities[1]}}
          <br>
          <b>Hidden Ability: </b>
          {{pokemon.possibleAbilities[2]}}
        </div>
        <br>
        <div class="rounded-3 text-black bg-white p-4 fs-6">
          <p>Health: {{pokemon.stats[0]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[0]" [max]="200"></ngb-progressbar></p>
          <p>Attack: {{pokemon.stats[1]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[1]" [max]="200"></ngb-progressbar></p>
          <p>Defense: {{pokemon.stats[2]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[2]" [max]="200"></ngb-progressbar></p>
          <p>Special Attack: {{pokemon.stats[3]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[3]" [max]="200"></ngb-progressbar></p>
          <p>Special Defense: {{pokemon.stats[4]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[4]" [max]="200"></ngb-progressbar></p>
          <p>Speed: {{pokemon.stats[5]}}<ngb-progressbar type="danger" textType="black" [value]="pokemon.stats[5]" [max]="200"></ngb-progressbar></p>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
