<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbDropdownItem><a class="dropdown-item" href="/pokedex">Pokédex</a></button>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Otras páginas</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem><a class="dropdown-item" href="/pokedex">Pokédex</a></button>
      <button ngbDropdownItem><a class="dropdown-item" href="/natures">NatureDex</a></button>
      <button ngbDropdownItem><a class="dropdown-item" href="/typeCalculator">Type Calculator</a></button>
      <button ngbDropdownItem><a class="dropdown-item" href="/abilities">AbilityDex</a></button>
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <li [ngbNavItem]="2">
    <button ngbDropdownItem><a class="dropdown-item" href="/login">Log In</a></button>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
