<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">Pokédex</a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Otras páginas</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem><a class="dropdown-item" href="/pokedex" (click)="isMenuCollapsed = true">Pokédex</a></button>
            <button ngbDropdownItem><a class="dropdown-item" href="/natures" (click)="isMenuCollapsed = true">NatureDex</a></button>
            <button ngbDropdownItem><a class="dropdown-item" href="/typeCalculator" (click)="isMenuCollapsed = true">Type Calculator</a></button>
            <button ngbDropdownItem><a class="dropdown-item" href="/abilities" (click)="isMenuCollapsed = true">AbilityDex</a></button>
            <button ngbDropdownItem><a class="dropdown-item" href="/items" (click)="isMenuCollapsed = true">ItemDex</a></button>
            <button ngbDropdownItem><a class="dropdown-item" href="/moves" (click)="isMenuCollapsed = true">MoveDex</a></button>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <div *ngIf="this.name == ''">
            <a class="nav-link" href="/login" (click)="isMenuCollapsed = true">Log in</a>
          </div>
          <div *ngIf="this.name != ''">
            <a class="nav-link" href="/moves" (click)="isMenuCollapsed = true">{{this.name}}</a>
          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
